html, body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(96 165 250 / var(--tw-bg-opacity));;
  border-radius: 10px;
}

/* Optional: add rules for other browsers */

/* Show scrollbar only when scrolling */
::-webkit-scrollbar-thumb:vertical {
  min-height: 50px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 50px;
}
